<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>JournalApp - Register</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <!-- Container Start -->
    <div
      class="container d-flex justify-content-md-center align-items-center vh-100"
    >
      <div class="row">
        <!--Start Form-->
        <div class="col">
          <h1>We're glad you want to join us!</h1>

          <form class="form-signup" method="post" action="/register">
            <h2 class="form-signup-heading text-center">
              Please enter your information below to register
            </h2>

            <label for="name" class="my-1 font-weight-bold">Name</label>
            <input
              name="name"
              type="name"
              id="name"
              class="form-control"
              placeholder="Name"
              required="true"
            />

            <label for="username" class="font-weight-bold">Username</label>
            <input
              name="username"
              type="username"
              id="username"
              class="form-control"
              placeholder="Username"
              required="true"
              autofocus=""
            />

            <label for="password" class="my-1 font-weight-bold">Password</label>
            <input
              name="password"
              type="password"
              id="password"
              class="form-control"
              placeholder="Password"
              required="true"
            />

            <% if (typeof error == 'object' && error) { %>
            <div class="alert alert-danger" role="alert">
              User already exists. <%= error %>"
            </div>
            <% } %>

            <button
              class="btn btn-lg btn-dark btn-block text-center my-2"
              type="submit"
            >
              Sign Up
            </button>
          </form>
        </div>
        <!--End Form-->
      </div>
    </div>

    <!-- Container End  -->

    <!--Bootstrap-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
      integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
